body {
  background-color: rgb(221, 146, 92);
}

h1,
p {
  margin: auto;
  max-width: 900px;
  text-align: center;
  color: rgb(92, 87, 79);
  
}

#about-me {
  display: block;
  /* padding-top: 100px; */
}

.info {
  margin: 40px;
  padding-bottom: 50px;
}

.list {
  color: rgb(221, 146, 92);
}

.list li {
  font-size: larger;
}

p:hover {
  background-color: rgb(251, 221, 170);
}

#about-me .list {
  padding-top: 50px;
  margin-left: 600px;
}

body:hover {
  background-image: url(./matrix.jpg);
  background-size: cover;
}
